.article-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(240px, 1fr));
  /* grid-template-columns: repeat(4, 1fr); */
}

.blog-article:hover {
  background-color: darkgrey;
}

.blog-page-description {
  font-size: 24px;
  font-style: italic;
  margin: 1em auto 0;
  text-align: center;
}
