.modal {
  background: #fff;
  border-radius: 10px;
  height: 600px;
  max-height: 800px;
  max-width: 600px;
  margin: 200px auto;
  padding: 30px;
  z-index: 100;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal-article-description {
  font-size: 16px;
  margin-bottom: 1rem;
}

.modal-article-title {
  border-bottom: 2px solid rgb(60, 60, 60);
  font-weight: 700;
  font-size: 24px;
  margin: 0 auto 1rem;
  text-align: center;
  width: 100px;
}
