.header {
  align-items: center;
  background-color: rgb(180, 180, 180);
  display: flex;
  height: 80px;
  justify-content: flex-start;
}

.header-text {
  align-items: center;
  color: #f5f5f5;
  margin: 0 auto;
}
