@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.about,
.blog,
.home,
.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.blog,
.home,
.projects {
  font-size: 3rem;
}

.about-wrapper,
.blog-wrapper,
.home-wrapper,
.projects-wrapper {
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
}
